.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
.devcontainer
.github
.nyc_output
coverage
prompts
TODO.md
.openapi*
.openapi-generator/*
openapi*
*.gif
*.bkp
prompt_demo/*
